---
layout: default
title: Accueil
home: yes
---

<ul>
	{% for post in paginator.posts %}
		<li>
			<h2><a href="{{ post.url }}">{{ post.title }}</a><span>{% include date.html date=post.date %}</span></h2>
			{{ post.excerpt }}
			<a href="{{ post.url }}" class="more">Lire la suite</a>
		</li>
	{% endfor %}
</ul>

<ol>
    <li>
        {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a href="/">Previous</a>
        {% else %}
            <a href="/page{{paginator.previous_page}}" class="nav prev">Pr&eacute;c&eacute;dants</a>
        {% endif %}
        {% else %}
            <!--Previous-->
        {% endif %}
    </li>
    <li>
        {% if paginator.next_page %}
            <a href="/page{{paginator.next_page}}" class="nav next">Suivants</a>
        {% else %}
            <!--Next-->
        {% endif %}
    </li>
</ol>
