{% if page.jeu %}

  <h2 id="auteurs">Auteurs mentionnés</h2>

  {% assign jeu = site.data.jeux[page.jeu] %}

  {% for auteurs in jeu.auteurs %}

    {% assign auteur = site.data.auteurs[auteurs.ref] %}

    <figure class="auteur">
      {% if auteur.avatar %}
        <img src="/img/auteurs/{{ auteur.avatar }}.jpg" description="{{ auteur.name }}" />
      {% endif %}
      <figcaption>{{ auteur.name }}</figcaption>
      {% if auteur.site %}
        <figcaption><a rel="site" href="{{ auteur.site }}" title="{{ auteur.site }}">{{ auteur.site }}</a></figcaption>
      {% endif %}
      {% if auteur.twitter %}
        <figcaption><a rel="auteur" href="https://twitter.com/{{ auteur.twitter }}" title="{{ auteur.twitter }}">{{ auteur.name }}</a></figcaption>
      {% endif %}
    </figure>

  {% endfor %}
{% endif %}
