<h2 id="auteurs">Auteurs mentionnés</h2>

{% assign jeu = site.data.jeux[post.jeu] %}

{{ jeu }}

{% for auteurs in jeu.auteurs %}
{% assign auteur = site.data.auteurs[auteurs.ref] %}

{{ auteur }}

  <div class="">
    <figure>
    {% include image.html url="/img/auteurs/{{ auteur.name }}.jpg" description="{{ auteur.name }}" %}
      {% if auteur.twitter %}
        <figcaption><a rel="auteur" href="https://twitter.com/{{ auteur.twitter }}" title="{{ auteur.name }}">{{ auteur.name }}</a></figcaption>
      {% endif %}
    </figure>
  </div>
{% endfor %}
